@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500|Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Kanit", sans-serif;
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
